div.card.d-flex
    div.card-header.bg-primary.text-white Haircuts List
    div.card-body 
        div.table-responsive
            table#haircut-table.table
                thead#haircut-table-header
                    tr
                        th#number ID
                        th#description Description
                        th#price Price
                        th#actions Actions
                tbody#haircut-table-body
    div.card-footer
        div.container.d-flex.justify-content-center
            span Discover your style
block haircut-form-scripts
script(type='text/javascript', src='../js/haircut-crud-js/haircut-crud.js')
