div.card.d-flex
    div.card-header.bg-primary.text-white Haircuts List
    div.card-body 
        div.table-responsive
            table.table.table-bordered
                thead
                    tr
                        th Number
                        th Description
                        th Price
                tbody
                        - 
                            const haircutListData = haircutList
                        each haircut in haircutListData
                            tr
                                td= haircut.id
                                td= haircut.description
                                td= '$' + haircut.price
    div.card-footer
        div.container.d-flex.justify-content-center
            span Discover your style
