div#add-form-card.card.d-flex
    div.card-header.bg-primary.text-white Add new haircut
    div.card-body
        form#addHaircutForm
            div.mb-3
                label(for='hcDescription', class='form-label') Description
                input(type='text', class='form-control', name='hcDescription' ,id='hcDescription', placeholder='Description', autocomplete='off')
            div.mb-3
                label(for='hcPrice', class='form-label') Price
                input(type='number', class='form-control', name='hcPrice', step='any' ,id='hcPrice', placeholder='Price')
            div.mb-3
                button.btn.btn-primary Submit
    div.card-footer
        div.container.d-flex.justify-content-center
            span Discover your style

div#edit-form-card.card.d-flex.d-none
    div.card-header.bg-primary.text-white Edit haircut
    div.card-body
        form#edit-haircut-form
            div.mb-3
                label(for='eHcDescription', class='form-label') Description
                input(type='text', class='form-control', name='eHcDescription' ,id='eHcDescription', placeholder='Description', autocomplete='off')
            div.mb-3
                label(for='eHcPrice', class='form-label') Price
                input(type='number', class='form-control', name='eHcPrice', step='any' ,id='eHcPrice', placeholder='Price')
            div.mb-3.d-flex.justify-content-around
                button.btn.btn-primary Submit
                button(type='button', class='btn btn-secondary', id='edit-back-button') Back
    div.card-footer
        div.container.d-flex.justify-content-center
            span Discover your style

div(class='modal fade', id='delete-haircut-confirm', tabindex='-1', aria-labelledby='confirm-delete-haircut', aria-hidden='true')
    div.modal-dialog
        div.modal-content
            div.modal-body.d-flex.justify-content-center
                span Delete haircut?
            div.modal-footer.d-flex.justify-content-around
                button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                button#delete-haircut-btn.btn.btn-primary(type='button') Delete

block haircut-form-scripts