div.card.d-flex
    div.card-header.bg-primary.text-white Add new haircut
    div.card-body
        form#haircutForm
            div.mb-3
                label(for='hcDescription', class='form-label') Description
                input(type='text', class='form-control', name='hcDescription' ,id='hcDescription', placeholder='Description')
            div.mb-3
                label(for='hcPrice', class='form-label') Price
                input(type='number', class='form-control', name='hcPrice' ,id='hcPrice', placeholder='Price')
            div.mb-3
                button.btn.btn-primary Submit
    div.card-footer
        
block haircut-form-scripts
    script(type='text/javascript', src='../js/haircut-crud-js/haircut-crud.js') 
