div.card.d-flex
    div.card-header.bg-primary.text-white Haircuts List
    div.card-body 
        div.table-responsive
            table(id='haircutTable' class='table table-bordered')
                thead(id='haircutTableHeader')
                    tr
                        th#number Number
                        th#description Description
                        th#price Price
                        th  Actions
                tbody(id='haircutTableBody')
    div.card-footer
        div.container.d-flex.justify-content-center
            span Discover your style
block haircut-form-scripts
    script(type='text/javascript', src='../js/haircut-crud-js/haircut-crud-list.js') 
