doctype html 
html(lang='en')
    head 
        title= pageTitle
    body
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        h1 Pug - node template engine
            #container .col
                p.
                    Pug is a terse and simple templating language with a strong focus
                    on performance and powerful features.
                p. 
        h1= myCustomText
        button(type='button' class='btn btn-primary') Boton
        span(class='badge bg-secondary') Ejemplo 
            