doctype html 
html(lang='en', class='h-100')
    head 
        title HC-Manager
        link(rel='stylesheet', href='/css/bootstrap.min.css')
    body.d-flex.flex-column.h-100
        include header.pug
        include body.pug
        include footer.pug